<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor = "let post of postsdata$">   
    <mat-expansion-panel-header>
      <mat-panel-title>
          <p>title: {{post.title}}</p>
      </mat-panel-title>
      <mat-panel-description>
        Click to {{panelOpenState ? 'close' : 'open'}}
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>post: {{post.body}}</p>
    
   <div *ngFor="let comment of commentsdata$">

          <div *ngIf = "comment.postId == post.id ; other"> <h3> comment:</h3> {{comment.body}}  
            
          </div>

      </div> 
      <button mat-raised-button color="primary" (click)= "addSaved(post.title)"> Save </button>
      {{result}}
      
  </mat-expansion-panel>
</mat-accordion>


